<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Project Management App", root_path, class: "navbar-brand" %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li> <%= link_to(("<i class='fa fa-user'> My Profile</i>").html_safe, edit_user_registration_path(current_user)) %> </li>
          <li> <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn" %> </li>
        <% else %>
          <li> <%= button_to "Sign In", new_user_session_path, method: :get, class: "btn btn-primary navbar-btn" %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
